## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Beringovskiy,RU,63.0500,179.3167,-14.64,87,6,12.59,clear sky,2022-02-08 01:36:44
1,1,Vao,NC,-22.6667,167.4833,80.89,85,12,17.52,few clouds,2022-02-08 01:36:45
2,2,Albany,US,42.6001,-73.9662,36.14,91,100,0.49,overcast clouds,2022-02-08 01:36:23
3,3,Filingue,NE,14.3521,3.3168,68.23,14,0,9.80,clear sky,2022-02-08 01:36:45
4,4,Havre-Saint-Pierre,CA,50.2334,-63.5986,15.80,85,100,8.05,overcast clouds,2022-02-08 01:36:46

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the lowest temperature you would like for your trip? "))
max_temp = float(input("What is the highest temperature you would like for your trip? "))

What is the lowest temperature you would like for your trip? 60
What is the highest temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
1,1,Vao,NC,-22.6667,167.4833,80.89,85,12,17.52,few clouds,2022-02-08 01:36:45
3,3,Filingue,NE,14.3521,3.3168,68.23,14,0,9.80,clear sky,2022-02-08 01:36:45
9,9,Mataura,NZ,-46.1927,168.8643,62.47,33,0,1.59,clear sky,2022-02-08 01:36:49
12,12,Rikitea,PF,-23.1203,-134.9692,78.78,75,97,13.49,overcast clouds,2022-02-08 01:36:51
14,14,San Carlos De Bariloche,AR,-41.1456,-71.3082,67.75,26,75,18.41,broken clouds,2022-02-08 01:36:54
15,15,Kapaa,US,22.0752,-159.3190,79.12,69,75,12.66,broken clouds,2022-02-08 01:36:54
17,17,Sao Filipe,CV,14.8961,-24.4956,72.46,75,5,5.03,clear sky,2022-02-08 01:36:55
20,20,Hermanus,ZA,-34.4187,19.2345,62.80,94,2,4.52,clear sky,2022-02-08 01:36:58
21,21,Ushuaia,AR,-54.8000,-68.3000,60.46,67,100,8.05,light rain,2022-02-08 01:36:58
22,22,Itamaraca,BR,-7.7478,-34.8256,82.45,71,3,7.99,clear sky,2022-02-08 01:36:59

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                7
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
1,1,Vao,NC,-22.6667,167.4833,80.89,85,12,17.52,few clouds,2022-02-08 01:36:45
3,3,Filingue,NE,14.3521,3.3168,68.23,14,0,9.80,clear sky,2022-02-08 01:36:45
9,9,Mataura,NZ,-46.1927,168.8643,62.47,33,0,1.59,clear sky,2022-02-08 01:36:49
12,12,Rikitea,PF,-23.1203,-134.9692,78.78,75,97,13.49,overcast clouds,2022-02-08 01:36:51
14,14,San Carlos De Bariloche,AR,-41.1456,-71.3082,67.75,26,75,18.41,broken clouds,2022-02-08 01:36:54
15,15,Kapaa,US,22.0752,-159.3190,79.12,69,75,12.66,broken clouds,2022-02-08 01:36:54
17,17,Sao Filipe,CV,14.8961,-24.4956,72.46,75,5,5.03,clear sky,2022-02-08 01:36:55
20,20,Hermanus,ZA,-34.4187,19.2345,62.80,94,2,4.52,clear sky,2022-02-08 01:36:58
21,21,Ushuaia,AR,-54.8000,-68.3000,60.46,67,100,8.05,light rain,2022-02-08 01:36:58
22,22,Itamaraca,BR,-7.7478,-34.8256,82.45,71,3,7.99,clear sky,2022-02-08 01:36:59

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Vao,NC,80.89,few clouds,-22.6667,167.4833,
3,Filingue,NE,68.23,clear sky,14.3521,3.3168,
9,Mataura,NZ,62.47,clear sky,-46.1927,168.8643,
12,Rikitea,PF,78.78,overcast clouds,-23.1203,-134.9692,
14,San Carlos De Bariloche,AR,67.75,broken clouds,-41.1456,-71.3082,
15,Kapaa,US,79.12,broken clouds,22.0752,-159.3190,
17,Sao Filipe,CV,72.46,clear sky,14.8961,-24.4956,
20,Hermanus,ZA,62.80,clear sky,-34.4187,19.2345,
21,Ushuaia,AR,60.46,light rain,-54.8000,-68.3000,
22,Itamaraca,BR,82.45,clear sky,-7.7478,-34.8256,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Vao,NC,80.89,few clouds,-22.6667,167.4833,Hotel Kou-Bugny
3,Filingue,NE,68.23,clear sky,14.3521,3.3168,
9,Mataura,NZ,62.47,clear sky,-46.1927,168.8643,Ellie's Villa
12,Rikitea,PF,78.78,overcast clouds,-23.1203,-134.9692,People ThankYou
14,San Carlos De Bariloche,AR,67.75,broken clouds,-41.1456,-71.3082,Hotel Patagonia

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))